<!DOCTYPE html>
<html>
<head>
 <title></title>
 <link rel="stylesheet" type="text/css" href="../static/css/style.css">
 <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/66cfa4dafa.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
 <div class="mainheader">
  <div class="logo">
   <img src="../static/images/logo.png">
  </div>

  <nav>
   <a href="http://127.0.0.1:5000">home</a>   
   <a href="#hlo">About</a>
  </nav>

  <div class="menubtn">
   <a href="/prediction_form"><button> Predict</button></a>
  </div>
 </div>



 <main>
  <section class="left-sec">
   <h2> We Are Here For Your Easy Diagnosis</h2>
   <h1>  We The Best Predictors</h1>
   <p>We are here to make your care easy. Feel free to use it.</p>
   <a href="/prediction_form"><button>Predict</button></a>
  </section>

  <section class="right-sec">
   <figure>
    <img src="../static/images/Home_image.png">
   </figure>
  </section>
 </main>
</header>
<section class="about"  >
        <div class="main-about">
                     <img src="../static/images/about.jpg" alt="About">
	<div class="about-text" id="hlo">
		<h1>Liver Disease </h1>
		<h5>Introduction </h5>
		<p>The liver plays an important role in many bodily functions from protein production and blood clotting to cholesterol, glucose (sugar), and iron metabolism. Many diseases and conditions can affect the liver, for example, certain drugs like excessive amounts of acetaminophen, and acetaminophen combination medications like Vicodin and Norco, as well as statins, cirrhosis, alcohol abuse, hepatitis A, B, C, D, and E, infectious mononucleosis (Epstein Barr virus), nonalcoholic fatty liver disease (NASH), and iron overload (hemochromatosis). Liver disease is a broad term that covers all the potential problems that cause the liver to fail to perform its designated functions. Usually, more than 75% or three quarters of liver tissue needs to be affected before a decrease in function occurs. This liver disease predictor helps you to predict liver disease based on the following datas.</p>
		
	</div>
           </div>
                    
    </section>
<section>
<div class="service">
<div class="title">
<h2>Information About Different Liver Enzymes</h2>
</div>
<div class="box">
<div class="card">
<i class="fa-solid fa-circle-info"></i>
<h5>Total bilirubin</h5>
<div class="pra">
<p>This is a blood test that measures the amount of a substance called bilirubin. This test is used to find out how well your liver is working. It is often given as part of a panel of tests that measure liver function. A small amount of bilirubin in your blood is normal, but a high level may be a sign of liver disease. The liver makes bile to help you digest food, and bile contains bilirubin. Most bilirubin comes from the body's normal process of breaking down old red blood cells. A healthy liver can normally get rid of bilirubin. But when you have liver problems, bilirubin can build up in your body to unhealthy levels.</p>
<p style="text-align:center;">
<a class="button" >Range: .22 - 1.0 mg/dl</a>
</p>
</div>
</div>
<div class="box">
<div class="card">
<i class="fa-solid fa-circle-info"></i>
<h5>Direct bilirubin</h5>
<div class="pra">
<p>The diagnosis is narrowed down further by evaluating the levels of direct bilirubin. If direct (conjugated) bilirubin is normal, then the problem is an excess of unconjugated bilirubin (indirect bilirubin), and the location of the problem is upstream of bilirubin conjugation in the liver. Hemolysis, or internal hemorrhage can be suspected. If direct bilirubin is elevated, then the liver is conjugating bilirubin normally, but is not able to excrete it. Bile duct obstruction by gallstones, hepatitis, cirrhosis or cancer should be suspected.</p>
<p style="text-align:center;">
<a class="button" >Range: 0.0 - 0.2 mg/dl</a>
</p>
</div>
</div>
<div class="box">
<div class="card">
<i class="fa-solid fa-circle-info"></i>
<h5>Alkaline phosphatase</h5>
<div class="pra">
<p>Alkaline phosphatase (ALP) is an enzyme in the cells lining the biliary ducts of the liver. ALP levels in plasma rise with large bile duct obstruction, intrahepatic cholestasis, or infiltrative diseases of the liver. ALP is also present in bone and placental tissue, so it is higher in growing children (as their bones are being remodelled) and elderly patients with Paget's disease. In the third trimester of pregnancy, ALP is about two to three times higher. Biliary tract disease produces relatively greater increases in ALP than increases in ALT, AST, or LD. ALP is associated with the plasma membrane of hepatocytes adjacent to the biliary canaliculus. Obstruction or inflammation of the biliary tract results in an increased concentration of the ALP in the circulation. Similar to ALT and AST, ALP is not specific for biliary tract disease. ALP is released by osteoblasts, the ileum, and the placenta. </p>
<p style="text-align:center;">
<a class="button" >Range: 110 - 310 U/L</a>
</p>
</div>
</div>
</div>
</div>
</section>
<section>
<div class="service1">
<div class="box">
<div class="card">
<i class="fa-solid fa-circle-info"></i>
<h5>Alamine Aminotransferase</h5>
<div class="pra">
<p>ALT is normally found inside liver cells. However, when your liver is damaged or inflamed, ALT can be released into your bloodstream. This causes serum ALT levels to rise. Measuring the level of ALT in a person’s blood can help doctors evaluate liver function or determine the underlying cause of a liver problem. The ALT test is often part of an initial screening for liver disease. The ALT test is usually used to determine whether someone has liver injury or failure. Your doctor may order an ALT test if you’re having symptoms of liver disease, including: • jaundice, which is yellowing of your eyes or skin • dark urine • nausea • vomiting • pain in the right upper quadrant of your abdomen.</p>
<p style="text-align:center;">
<a class="button" >Range: 5 - 45 U/L</a>
</p>
</div>
</div>
<div class="box">
<div class="card">
<i class="fa-solid fa-circle-info"></i>
<h5>Aspartate Aminotranferase</h5>
<div class="pra">
<p>Aspartate aminotransferase (AST) test is a blood test that checks for liver damage. Your doctor might order this test to find out if you have liver disease and to monitor your treatment. Your liver is an organ that has many important jobs. It makes a fluid called bile that helps your body digest food. It also removes waste products and other toxins from your blood. It produces proteins, as well as substances that help your blood clot. Alcohol or drug use and diseases such as  hepatitis can damage your liver and keep it from doing these jobs.</p>
<p style="text-align:center;">
<a class="button" >Range: 5 - 40 U/L</a>
</p>
</div>
</div>
<div class="box">
<div class="card">
<i class="fa-solid fa-circle-info"></i>
<h5>Albumin</h5>
<div class="pra">
<p>Albumin is a protein made specifically by the liver, and can be measured cheaply and easily. It is the main constituent of total protein (the remaining constituents are primarily globulins). Albumin levels are decreased in chronic liver disease, such as cirrhosis. It is also decreased in nephrotic syndrome, where it is lost through the urine. The consequence of low albumin can be edema since the intravascular oncotic pressure becomes lower than the extravascular space. An alternative to albumin measurement is prealbumin, which is better at detecting acute changes (half-life of albumin and prealbumin is about 2 weeks and about 2 days, respectively). </p>
<p style="text-align:center;">
<a class="button" >Range: 3.5 - 5 gm/dl</a>
</p>
</div>
</div>
</div>
</div>
</section>
<section>
<div class="service1">
<div class="box">
<div class="card">
<i class="fa-solid fa-circle-info"></i>
<h5>Total Proteins</h5>
<div class="pra">
<p>The total protein test measures the total amount albumin and globulin in your body. It's used as part of your routine health checkup. Having too many or too few proteins can lead to unexpected weight loss, fatigue, or inflammatory disease.Proteins serve as building blocks for many organs, hormones, and enzymes. Proteins are essential for overall health, which is why routine health checkups often include a total protein test.A total protein test measures the total number of proteins present in body fluid. The test examines protein in either urine or the liquid portion of the blood, which medial professionals call the serum. The total protein test can help diagnose liver and kidney diseases, along with other conditions.
</p>
<p style="text-align:center;">
<a class="button" >Range: 5 - 45 U/L</a>
</p>
</div>
</div>
<div class="box">
<div class="card">
<i class="fa-solid fa-circle-info"></i>
<h5>Albumin and Globulin Ratio</h5>
<div class="pra">
<p>The Albumin to Globulin ratio (A:G) is the ratio of albumin present in serum in relation to the amount of globulin. The ratio can be interpreted only in light of the total protein concentration. The normal ratio in most species approximates 1:1.Serum proteins are primarily albumin (50–60%, produced by the liver), but also include globulins and other proteins. Serum proteins maintain water balance in the blood through osmotic pressure, transport blood components and nutritional elements, help the immune system and help with coagulation. Although albumin is made exclusively in the liver, globulins are produced in many sites throughout the body. Thus, whether total protein is normal, elevated, or low, a decrease in the albumin:globulin (A/G ratio) often indicates the presence of impaired liver function.</p>
<p style="text-align:center;">
<a class="button" >Range: 1.7-2.2</a>
</p>
</div>
</div>
</div>
</div>
</section>
</body>
</html>




